.header {
	display: flex;
	background-color: darkslategrey;
	color: white;
}

.header__brand {
	padding: 1rem;
}

.header__links {
	margin-left: auto;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.header__links a {
	padding: 1rem;
}
